/*

# Files owned by the workspace repository.
!/.agents/
!/.agents/**
!/.github/
!/.github/**
!/.workspace/
!/.workspace/**
!/docs/
!/docs/**
!/AGENTS.md
!/LICENSE
!/README.md
!/bootstrap
!/dev
!/.xknx-dev.example.toml
/.workspace/**/__pycache__/
/.xknx-dev.toml
/.state/
!/.gitignore
